<!DOCTYPE html>
<html ng-app="templateTest">
<head>
    <meta charset="utf-8">
    <title>Template Test</title>
    <!-- my css -->
    <link rel="stylesheet" href="/css/angular.css">

</head>
<body>
<h1>Angular Intro Fun!</h1>
    <h4>Numbers</h4>
        <ul>
            <li ng-repeat="number in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]" ng-hide="number % 3 != 0">{{number}}</li>
        </ul>
    <h4>Letters</h4>
        <ul>
            <li ng-repeat="letter in ['A', 'B', 'C', 'D', 'E', 'F']">{{letter | uppercase}}</li>
            <li ng-repeat="letter in ['A', 'B', 'C', 'D', 'E', 'F']">{{letter | lowercase}}</li>
        </ul>
    <h4>Images</h4>
        <img ng-src="{{ '/img/flower2.jpg'}}" alt="purple tulip">
        <img ng-src="{{'/img/flower3.jpg'}}" alt="purple orchid">
        <img ng-src="{{'/img/flower4.jpg'}}" alt="purple daisy">

        



    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script type="text/javascript" src="/js/templateTest.js"></script>

</body>
</html>